.sidebar {
  background-color: var(--gray-800);
  border-radius: 8px;
  overflow: hidden;
}

.cover {
  width: 100%;
  height: 72px;
  object-fit: cover;
}

.profile {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: calc(0px - 1.5rem - 6px);
}

.userName {
  color: var(--gray-100);
  line-height: 1.6;
  margin-top: 1rem;
}

.userProfession {
  color: var(--gray-400);
  font-size: 0.875rem;
  line-height: 1.6;
}

.avatar {
  width: calc(3rem + 12px);
  height: calc(3rem + 12px);
  border-radius: 8px;
  border: 4px solid var(--gray-800);
  outline: 2px solid var(--green-500);
}

.footer {
  border-top: 1px solid var(--gray-600);
  margin-top: 1.5rem;
  padding: 1.5rem 2rem 2rem;
}

.editProfileBtn {
  align-items: center;
  background-color: transparent;
  color: var(--green-500);
  border: 1px solid var(--green-500);
  border-radius: 8px;
  display: flex;
  gap: 0.5rem;
  height: 50px;
  justify-content: center;
  padding: 0 1.5rem;
  transition: color 0.1s, background-color 0.1s;
  text-decoration: none;
}

.editProfileBtn:hover {
  background-color: var(--green-500);
  color: var(--white);
}
