.post {
  background-color: var(--gray-800);
  border-radius: 8px;
  padding: 2.5rem;
}

.post + .post {
  margin-top: 2rem;
}

.postHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.author {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.avatar {
  width: calc(3rem + 12px);
  height: calc(3rem + 12px);
  border-radius: 8px;
  border: 4px solid var(--gray-800);
  outline: 2px solid var(--green-500);
}

.authorInfo {
  display: flex;
  flex-direction: column;
}

.authorName {
  color: var(--gray-100);
  line-height: 1.6;
}

.authorCareer {
  color: var(--gray-400);
  font-size: 0.875rem;
  line-height: 1.6;
}

.headerTime {
  font-size: 0.875rem;
  color: var(--gray-400);
}

.content {
  line-height: 1.6;
  color: var(--gray-300);
  margin-top: 1.5rem;
}

.contentText {
  margin-top: 1rem;
}

.authorWebsite, .hashtags {
  font-weight: bold;
  color: var(--green-500);
  text-decoration: none;
}

.authorWebsite:hover, .hashtags:hover {
  color: var(--green-300);
}

.hashtags:not(:last-child) {
  margin-right: 0.5rem;
}
